[user]
	email = isaiah@ornithgroup.com
	name = Isaiah
[alias]
	log = git log --oneline --graph --decorate
	graph = log --all --oneline --graph --decorate
	lazy = !lazy.sh
 
[core]
	excludesfile = /Users/brynnafowler/.gitignore_global
