[user]
	email = isaiah@ornithgroup.com
	name = Isaiah
[alias]
	log = git log --oneline --graph --decorate
	graph = log --all --oneline --graph --decorate
	lazy = "!git add . && git commit -m \"$(echo $(cat ~/.local/share/quotes | shuf --head-count=1))\""
 
[core]
	excludesfile = /Users/brynnafowler/.gitignore_global
